<%- include header %>
<form method="post">
  标题：<br />
  <input type="text" name="postTitle" value="<%= post.postTitle %>" disabled="disabled" /><br />
  正文：<br />
  <textarea id="editor_id" name="postBody" rows="20" cols="100"><%= post.postBody %></textarea><br />
  <input type="submit" value="保存修改" />
</form>
<script charset="utf-8" src="/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="/kindeditor/lang/zh-CN.js"></script>
<script>
        var options = {
            allowImageUpload: false,
            allowFlashUpload: false,
            allowMediaUpload: false,
            allowFileUpload:  false
        };
        KindEditor.ready(function(K) {
            window.editor = K.create('#editor_id', options);
        });
</script>
<%- include footer %>